body { margin:0;font:bold 11px Tahoma;} 
#everything { width:750px; height:500px;background:url(../images/bg.jpg);margin-top: 20px; margin-left:10px; float:left;}
#middle { clear:both;  padding:15px 23px; }
#kyodai_scene{ position:relative; width:700px; left:0px; cursor: pointer; }
#kyodai_map{ left:15px; top:5px; position:absolute;}
#kyodai_ppt,#kyodai_ppt_num{position:absolute;left:2px;}
#kyodai_choose{position:absolute;left:-999px;z-index:1 !important; /*Style for FF*/ z-index:-1;/* for IE */}
#kyodai_hover{position:absolute;left:-999px;z-index:1 !important; /*Style for FF*/z-index:-1;/* for IE */}
#kyodai_center{position:absolute;left:200px;top:100px;width:303px;height:203px;display: none;}
#kyodai_speed{position:absolute;z-index:999;top:5px;left:5px;}
#kyodai_remain{color:#66CCFF; position:absolute;top:408px;right:280px;}
#kyodai_board{color:#CCC; position:absolute;top:408px;left:550px;}
#kyodai_combo{color:#CCC; position:absolute;top:408px;right:160px;}
#kyodai_count img{width:330px;height:8px;float:right;margin-top:1px;margin-right:5px;}
#kyodai_count{position:absolute;width:340px;height:11px;top:410px;background:url(../images/timebar.png);}
#kyodai_start{ background:url(../images/start_btn.png) no-repeat; width:87px; height:30px; position:absolute;top:430px;right:0px;font-size:12px; font-weight: bold;text-align: center; color:#FFFFFF; text-decoration:none; line-height:25px; cursor: pointer;}
#kyodai_start:hover { background:url(../images/start_btn_hover.png) no-repeat;  }
#toolbox { background:url(../images/toolbar.png); width:200px; height:37px; position:absolute;top:430px; }
#centertitle{font-size: 20px; color:#6acfff;text-align:center;margin:10px;}
#centerboard{padding-left:75px; width:150px;}
#centerbtn{ background:url(../images/new_btn.png) no-repeat; width:137px; height:32px;margin-left:85px; margin-top:5px; font-size:14px; font-weight: bold;text-align: center; color:#FFFFFF; text-decoration:none; line-height:25px; cursor: pointer;}
#centerbtn:hover { background:url(../images/new_btn_hover.png) no-repeat;}
#statbar { width:148px; height:500px; background:url(../images/statbar.jpg);margin-top: 20px; margin-left:10px;float:left;}
#mystat {padding:15px; color:#FFF;}
#scores{margin:5px;}
.preload{position:absolute;left:1000px;top:1000px;}
.statv{margin-top:15px;color:#a0a0a0;}
.scorespan{color:#374D4F;line-height:20px;}
.blue{color:#53a9ff;}
.green{color:#3DA500;}
.pink{color:#d70674;}