body { margin:0; font:12px Tahoma;} 
#everything { width:750px; height:500px;background:url(../images/bg.jpg);margin: 10px 20px;}
#middle { clear:both;  padding:15px 20px; }
#kyodai_background{background:url(../images/game.png);}
#kyodai_scene{ position:relative; width:700px; left:0px; cursor: pointer;}
#kyodai_map{ left:10px; top:5px; position:absolute;}
#kyodai_ppt,#kyodai_ppt_num{position:absolute;left:2px;}
#kyodai_center{position:absolute;left:240px;top:20px}
#kyodai_remain{font-weight:bold; color:#fefe00; position:absolute;top:410px;right:200px}
#kyodai_count img{width:330px;height:8px;float:right;margin-top:1px;margin-right:5px;}
#kyodai_count{position:absolute;width:340px;height:11px;top:410px;background:url(../images/timebar.png);}
#kyodai_start{ background:url(../images/start_btn.png) no-repeat; width:87px; height:30px; position:absolute;top:430px;right:0px;font-size:12px; font-weight: bold;text-align: center; color:#FFFFFF; text-decoration:none; line-height:25px; cursor: pointer;}
#kyodai_start:hover { background:url(../images/start_btn_hover.png) no-repeat;  }
#toolbox { background:url(../images/toolbar.png); width:200px; height:37px; position:absolute;top:430px; }
